#app {
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
nav.navbar {
  border: solid #333;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  margin-bottom: 1.5rem;
  background-color: #fff;
  background-color: rgba(255,255,255,0);
}
nav.navbar a:hover {
  color: #64171a;
}
.category-list,
.tagcloud,
.archive-list {
  padding-top: 0.5rem;
}
.category-list-item:before {
  content: "> ";
}
.category-list-child {
  margin-left: 1rem;
}
.section-container {
  margin-bottom: 2rem;
}
section ul {
  list-style: disc;
  padding: 0 0 30px 40px;
}
section a:link {
  text-decoration: underline;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  padding-top: 20px;
}
section h1 {
  font-size: 2.5rem;
}
section h2 {
  font-size: 2rem;
}
section h3 {
  font-size: 1.5rem;
}
section h4 {
  font-size: 1.25rem;
}
section h5 {
  font-size: 1rem;
}
section h6 {
  font-size: 0.75rem;
}
span.archive-list-count::before {
  content: " (";
}
span.archive-list-count::after {
  content: ")";
}
span.category-list-count::before {
  content: " (";
}
span.category-list-count::after {
  content: ")";
}
span.tag-list-count::before {
  content: " (";
}
span.tag-list-count::after {
  content: ")";
}
.tab {
  background-color: inherit;
  border: solid #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  padding: 0.5rem 0 0.25rem 0.25rem;
}
.widget {
  padding-top: 1rem;
}
.offwhite-bg {
  background-color: #fffff0;
}
.overflow {
  overflow-wrap: normal;
}
.custom-footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  align-self: flex-end;
}
.custom-footer a {
  text-decoration: underline;
}
.menu-icons {
  padding-right: 15px;
}
.public-key {
  padding-top: 15px;
}
.social-icons {
  padding-top: 1.5rem;
  margin-bottom: 0;
}
a.footer-social:not(:first-of-type) {
  margin-left: 10px;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #64171a;
}
.is-horizontal-center {
  justify-content: center;
}
.is-size-6-7 {
  font-size: 0.9rem;
}
.card {
  border-radius: 10px;
}
.panel {
  border-radius: 10px;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
.job-date {
  font-style: italic;
  font-size: 0.9rem;
}
.job-skills {
  font-style: italic;
  font-size: 0.9rem;
}
.list-item {
  height: 20px;
}
.menu {
  padding-top: 15px;
}
#hero-override {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.media-left-override {
  margin-right: 8px;
}
black {
  background-color: #000;
  color: #000;
  padding: 0 2px;
  border-radius: 2px;
  transition: color 0.3s ease;
  user-select: none; /* 防止文本被选择 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.ins-search {
  display: none;
}
.ins-search.show {
  display: block;
}
.ins-selectable {
  cursor: pointer;
}
.ins-search-mask,
.ins-search-container {
  position: fixed;
}
.ins-search-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
}
.ins-input-wrapper {
  position: relative;
}
.ins-search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: none;
  font-weight: 200;
  border-radius: 0;
  background: #fff;
  line-height: 20px;
  box-sizing: border-box;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.ins-close {
  top: 50%;
  right: 6px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ins-close:hover {
  color: #64171a;
}
.ins-search-container {
  left: 50%;
  top: 100px;
  z-index: 101;
  bottom: 100px;
  box-sizing: border-box;
  width: 540px;
  margin-left: -270px;
  border-top: 2px solid color-theme;
}
@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .ins-search-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
  }
}
.ins-section-wrapper {
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow-y: auto;
  position: absolute;
}
.ins-section-container {
  position: relative;
  background: #f7f7f7;
}
.ins-section {
  font-size: 14px;
  line-height: 16px;
}
.ins-section .ins-section-header,
.ins-section .ins-search-item {
  padding: 8px 15px;
}
.ins-section .ins-section-header {
  color: #9a9a9a;
  border-bottom: 1px solid #e2e2e2;
}
.ins-section .ins-slug {
  margin-left: 5px;
  color: #9a9a9a;
}
.ins-section .ins-slug:before {
  content: '(';
}
.ins-section .ins-slug:after {
  content: ')';
}
.ins-section .ins-search-item header,
.ins-section .ins-search-item .ins-search-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ins-section .ins-search-item header .fa {
  margin-right: 8px;
}
.ins-section .ins-search-item .ins-search-preview {
  height: 15px;
  font-size: 12px;
  color: #9a9a9a;
  margin: 5px 0 0 20px;
}
.ins-section .ins-search-item:hover,
.ins-section .ins-search-item.active {
  color: #64171a;
  background: color-black;
}
.ins-section .ins-search-item:hover .ins-slug,
.ins-section .ins-search-item.active .ins-slug,
.ins-section .ins-search-item:hover .ins-search-preview,
.ins-section .ins-search-item.active .ins-search-preview {
  color: #64171a;
}
.ins-icon {
  margin-right: 5px;
}
img.profile {
  height: 60%;
  width: 60%;
  border-radius: 50%;
}
.article {
  padding-top: 0.5rem;
  flex-shrink: 2;
}
.article p {
  margin-bottom: 20px;
}
.article p a {
  text-decoration: underline;
}
.article h2 {
  margin-bottom: 20px;
}
.article-title-widget {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 0.9rem;
}
.archive-article-header {
  margin-bottom: 10px;
}
.archive-calendar-icon {
  margin-right: 5px;
}
.archive-article-entry {
  margin-bottom: 15px;
  display: flex;
}
.archive-article-date {
  margin-bottom: 0;
}
.archive-article-title {
  justify-content: left;
}
.categories-article-header {
  margin-bottom: 10px;
}
.categories-header-icon {
  margin-right: 8px;
}
